<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DynamicsNAV" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <DynamicsNAV>
    <!-- File Store: Location to store the files -->
    <add key="FileStorageLocation" value="C:\Temp\DynamicsNAV"/>
    <!-- Numbering: 'No. Series Code' that is used for Item creation -->
    <add key="NoSeriesCode" value="ITEM1"/>
    <!-- Tenant: Name of the Company as configured in Dynamics NAV -->
    <add key="Company" value="CRONUS International Ltd."/>
  </DynamicsNAV>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Http_Binding" maxReceivedMessageSize="20000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7047/DynamicsNAV100/WS/CRONUS%20International%20Ltd./Page/BOMs"
        binding="basicHttpBinding" bindingConfiguration="Http_Binding"
        contract="SOAP.BOMs.BOMs_Port" name="BOMs_Port" />
      <endpoint address="http://localhost:7047/DynamicsNAV100/WS/CRONUS%20International%20Ltd./Page/ItemCard"
        binding="basicHttpBinding" bindingConfiguration="Http_Binding"
        contract="SOAP.ItemCard.ItemCard_Port" name="ItemCard_Port" />
      <endpoint address="http://localhost:7047/DynamicsNAV100/WS/CRONUS%20International%20Ltd./Page/ItemCategoryCard"
        binding="basicHttpBinding" bindingConfiguration="Http_Binding"
        contract="SOAP.ItemCategoryCard.ItemCategoryCard_Port" name="ItemCategoryCard_Port" />
      <endpoint address="http://localhost:7047/DynamicsNAV100/WS/CRONUS%20International%20Ltd./Page/NoSeriesLines"
        binding="basicHttpBinding" bindingConfiguration="Http_Binding"
        contract="SOAP.NoSeriesLines.NoSeriesLines_Port" name="NoSeriesLines_Port" />
      <endpoint address="http://localhost:7047/DynamicsNAV100/WS/CRONUS%20International%20Ltd./Page/UnitsOfMeasure"
        binding="basicHttpBinding" bindingConfiguration="Http_Binding"
        contract="SOAP.UnitsOfMeasure.UnitsOfMeasure_Port" name="UnitsOfMeasure_Port" />
      <endpoint address="http://localhost:7047/DynamicsNAV100/WS/CRONUS%20International%20Ltd./Page/Vendors"
        binding="basicHttpBinding" bindingConfiguration="Http_Binding"
        contract="SOAP.Vendors.Vendors_Port" name="Vendors_Port" />
      <endpoint address="http://localhost:7047/DynamicsNAV100/WS/CRONUS%20International%20Ltd./Codeunit/RecordLink"
        binding="basicHttpBinding" bindingConfiguration="Http_Binding"
        contract="SOAP.RecordLink.RecordLink_Port" name="RecordLink_Port" />
    </client>
  </system.serviceModel>
</configuration>