<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <DynamicsNAV>
    <!-- File Store: Location to store the files -->
    <add key="FileStorageLocation" value="C:\Temp\DynamicsNAV"/>
    <!-- Numbering: 'No. Series Code' that is used for Item creation -->
    <add key="NumberingScheme" value="ARTIKEL1"/>
  </DynamicsNAV>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Http_Binding" maxReceivedMessageSize="20000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7047/DynamicsNAV100/WS/CRONUS%20AG/Page/BOMs"
        binding="basicHttpBinding" bindingConfiguration="Http_Binding"
        contract="SOAP.BOMs.BOMs_Port" name="BOMs_Port" />
      <endpoint address="http://localhost:7047/DynamicsNAV100/WS/CRONUS%20AG/Page/ItemCard"
        binding="basicHttpBinding" bindingConfiguration="Http_Binding"
        contract="SOAP.ItemCard.ItemCard_Port" name="ItemCard_Port" />
      <endpoint address="http://localhost:7047/DynamicsNAV100/WS/CRONUS%20AG/Page/ItemCategoryCard"
        binding="basicHttpBinding" bindingConfiguration="Http_Binding"
        contract="SOAP.ItemCategoryCard.ItemCategoryCard_Port" name="ItemCategoryCard_Port" />
      <endpoint address="http://localhost:7047/DynamicsNAV100/WS/CRONUS%20AG/Page/NoSeriesLines"
        binding="basicHttpBinding" bindingConfiguration="Http_Binding"
        contract="SOAP.NoSeriesLines.NoSeriesLines_Port" name="NoSeriesLines_Port" />
      <endpoint address="http://localhost:7047/DynamicsNAV100/WS/CRONUS%20AG/Page/UnitsOfMeasure"
        binding="basicHttpBinding" bindingConfiguration="Http_Binding"
        contract="SOAP.UnitsOfMeasure.UnitsOfMeasure_Port" name="UnitsOfMeasure_Port" />
      <endpoint address="http://localhost:7047/DynamicsNAV100/WS/CRONUS%20AG/Page/Vendors"
        binding="basicHttpBinding" bindingConfiguration="Http_Binding"
        contract="SOAP.Vendors.Vendors_Port" name="Vendors_Port" />
    </client>
  </system.serviceModel>
</configuration>